.basic-nav{
    background:	#f9f9f9;
    height:60px;
    border:1px solid #dfe1e2;
}

@media screen and (max-width: 400px) {
    .basic-nav .navbar-nav {
        border:1px solid #e6e6e633;
        background:#f9f9f9;
        padding-left:10px;
    }
}