.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background:#f9f9f9;
    margin-top:60px;
    border:1px solid #dfe1e2;
    box-shadow:10px 10px 10px grey;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #8e9192;
    display: block;
    transition: 0.4s;
}
.sidenav .header{
    margin-bottom: 10px;
}

.sidenav a:hover {
    color: black;
}
.managing-books .up{
    visibility:hidden;  
    opacity:.7;
}
.create-book{
    margin-bottom:30px;
}
.sidenav .header .row .col-8{
    padding-top:7px;
}
.managing-books .table-data{
    border:1px solid #dfe1e2;
    padding:15px;
    color:#a7abaf;
}
.managing-books .table-data a{
    text-decoration:underline;
    color:#a7abaf;
}
.managing-books .table-data a:hover{
    color:#17a2b8;
}

.managing-books .table-data .head{
    color:#828181;
    font-weight: bold;
}

.managing-books hr.head{
    background:#c7c3c3;
}
.managing-books .create-book,.update-book{
    margin-top:30px;
    border:1px solid #dfe1e2;
}
.update-book{
    margin-top:100px;
    border:1px solid #dfe1e2;
}
.managing-books .create-book form,.update-book form{
    padding:15px;   
}

.managing-books .create-book form .files{
    margin-top:20px;
    margin-bottom:20px;
}
.managing-books .create-book form .book-description{
    margin-top:20px;
}
.create-book form button{
    margin-top:10px;
}
.managing-books .header,.create-book .header,.update-book .header{
    border:1px solid #dfe1e2;
    background:#c6c6cc3d;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    font-weight:bold;
    color:#a7abaf;  
}
.update-book form .image img{
    width:100%;
    max-height:400px;
}

.update-book form .image{
    width:100%;
    border:1px solid #dfe1e2;
    box-shadow:10px 10px 10px grey;
}

.update-book form .row .categories{
    margin-top:20px;
    margin-bottom:20px;
}
.managing-books .options a{
    padding:5px;
}
.managing-books .options {
    border:1px solid #dfe1e2;
    background: #c6c6cc3d;
    padding:10px;
    margin-top:90px;

}
@media screen and (max-width: 400px) {
    .sidenav a {font-size: 18px;}
    .sidenav{width:0px};
}
@media screen and (max-width: 767px) {
    .create-book form .files .image{
        margin-bottom:20px;
    }

    .update-book form .image{
        margin-top:20px;
        box-shadow:0px 0px 0px;
    }

    .create-book form button{
        width:100%;
    }

    .update-book form button{
        width:78%;
    }
    .update-book form .submit{
        margin-top:10px;
    }

}

