.category-managing .row a{
    color:#585858;
    text-decoration:underline;
}
.category-managing .row a:hover{
    color:#17a2b8;
}
.category-managing{
    margin-top:90px;
}
.category-managing .options a{
    padding:5px;
}
.category-managing .options {
    border:1px solid #dfe1e2;
    background: #c6c6cc3d;
    padding:10px;
    margin-bottom:30px;
}
.create-category form,.create-category .error-message{
    padding-left:10px;
}
.category-managing .table-data{
    border:1px solid #dfe1e2;
    padding:15px;
    color:#a7abaf;
}

.category-managing .table-data .row a{
    color:#a7abaf;
}
.category-managing .table-data .row .col-8{
    overflow:hidden;
}


.category-managing .table-data a:hover{
    color:#17a2b8;
}

.category-managing .header,.update-category .header,.category-delete-confirmation .header{
    border:1px solid #dfe1e2;
    background:#c6c6cc3d;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    font-weight:bold;
    color:#a7abaf;  
}
.category-delete-confirmation{
    margin-top:100px;
    border:1px solid #dfe1e2;
    height:500px;
}
.category-delete-confirmation .confirm-delete-message h3{
    color:#a7abaf;
    font-style:oblique;
}
.category-delete-confirmation .confirm-delete-message{
    margin-top:80px;
}
.update-category .header{
    height:60px;
}
.create-category {
    padding-bottom:20px;
    border:1px solid #dfe1e2;
    margin-bottom:30px;
}
.create-category  form{
    margin-top:30px;
}

.update-category{
    margin-top:200px;
}
.update-category form{
    border:1px solid #dfe1e2;
}
.create-category form .form-control{
    width:400px;
}
.category-managing .up{
    visibility:hidden;
    opacity:.7;
}
@media screen and (max-width: 400px) {
    .options a{font-size:12px;}
    .confirm-delete-message h3{
        font-size:15px;
    }
    .create-category form .form-control{width:200px;margin-right:10px;}
}
